extends ../layout
block content
    .container
        .jumbotron
            h1.display-3 激活成功
            p.lead 请前往主页登陆
            hr.my-2
            p
                button.btn.btn-primary.btn-lg(onclick='location.href="/"') 前往登陆



