extends ../layout
block content
    .container
        .jumbotron
            h1.display-3 拒绝访问
            p.lead 请通过登陆或者成为网站管理员提高您的访问权限再试
            hr.my-2
            button.btn.btn-primary.btn-lg(onclick='window.close()') 关闭


